/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #00589b;
$presentation-title-slide-text-align: "left";
$presentation-subtitle-slide-text-align: "left";
$code-block-font-size: 0.6em;
$presentation-h2-font-size: 1.4em;

/*-- scss:rules --*/

.reveal .custom-title {
  position: absolute;
  color: #00589b;
  font-size: 3em;
  text-align: right;
  right: 20px;
  top: -200px;
}

.reveal .custom-author {
  position: absolute;
  font-size: 1.4em;
  text-align: right;
  right: 20px;
  top: 300px;
}

.reveal .custom-twitter a {
  position: absolute;
  color: #1DA1F2;
  font-size: 1.3em;
  text-align: right;
  right: 20px;
  top: 470px;
}

.reveal .custom-url a {
  position: absolute;
  color: #00589b;
  font-size: 1.5em;
  text-align: right;
  right: 20px;
  top: 570px;
}

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .in-out {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #E8E8E8;
  font-family: $font-family-monospace;
  font-size: 0.6em;
}


.reveal .slide .goal {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #ccddeb;
}



.reveal .fullscreen-center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 90%;

  font-weight: 900;
  line-height: 1.3;
  word-wrap: break-word;
  color: white;

  /* Responsive scaling: never overflow */
  font-size: clamp(1.2rem, 3vw, 2.6rem);
}


/* Allow long slides (especially with columns) to scroll instead of overflow */
.reveal .slides section {
  overflow-y: auto !important;
}

